body {
    background: #14131A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.bgBlood {
    background: url("../img/blood.png") top right no-repeat;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.header {
    display: flex;
    margin-bottom: 80px;
    padding-top: 40px;
    align-items: center;
}
.logoLink {
    display: inline-block;
    margin-right: 50px;
}

.navMenu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navMenuItem {
    margin-right: 30px;
}

.navMenuLink {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.filmDate {
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}

.filmDescription {
    margin-top: 40px;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.buttonGroup {
    margin-top: 70px;
}

.button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.buttonIcon,
.buttonText {
    display: inline-block;
    vertical-align: middle;
}

.buttonText {
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
}

.buttonPrimary {
    background: #fff;
    color: #8D0019;
}

.buttonLink {
    color: #fff;
}

.venom {
    top: 0;
    right: 0;
    position: absolute;
}

.content {
    display: flex;
}

.col {
    flex-basis: 50%;
}

.contentTitle {
    margin-bottom: 20px;
    padding: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
}

.contentSubtitle {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.contentText {
    padding-bottom: 30px;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.content .list {
    padding: 0;
    list-style: none;
}

.listItem {
    line-height: 1.5;
}

.column {
    max-width: 350px;
    column-count: 2;
    column-gap: 20px;
}

.content .trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    width: 356px;
    height: 205px;
    background: url("../img/trailer.jpg") no-repeat center /contain;
    border-radius: 5px;
}

.trailer .play {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.trailer .playIcon {
    transform: translate(1px, 2px);
}

.wrapper {
    display: flex;
    align-items: start;
}

.poster {
    margin-right: 30px;
    width: 362px;
    border-radius: 5px;
}

.wrapper .contentSubtitle {
    margin-bottom: 5px;
}

.wrapper .list {
    margin: 0;
    margin-bottom: 20px;
}